**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.pytest_cache
**/.settings
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/htmlcov
**/docker-compose*
**/Dockerfile*
**/junit
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/site
# **/tests
**/values.dev.yaml
