Brian Madden <brian@fastpinball.com>
Brian Madden <brian@fastpinball.com> <b@bmad.com>

Dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
Dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com> <27856297+dependabot-preview[bot]@users.noreply.github.com>

Julien M. <dev@ingeoveritas.com>
Julien M. <dev@ingeoveritas.com> <Guts@users.noreply.github.com>
Julien M. <dev@ingeoveritas.com> <1596222+Guts@users.noreply.github.com>

Meysam Azad <meysam@developer-friendly.blog>

Y.D.X. <73375426+YDX-2147483647@users.noreply.github.com>
Y.D.X. <73375426+YDX-2147483647@users.noreply.github.com> <73375426+YDX-2147483647@users.noreply.github.com>
