-i https://pypi.org/simple

# Common requirements
# -----------------------
setuptools
wheel

# Project requirements
# -----------------------
GitPython==3.1.*
Jinja2>=2,<3

# Development
# -----------------------
black==20.8b1
flake8==3.8.*
pre-commit>=2.5,<2.8
pytest-cov==2.10.*
