-i https://pypi.org/simple

# Common requirements
# -----------------------
setuptools
wheel

# Project requirements
# -----------------------
GitPython==3.1.*
Jinja2>=2,<3

# Development
# -----------------------
black==19.10b0
flake8==3.8.*
pre-commit>=2.5,<2.7
pytest-cov==2.10.*


